.button {
  background-color: #757F9A;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: #FFF;
  text-decoration: none;
  border-radius: 3px;
}
