.button {
  background-color: $color-dark;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: inherit;
  text-decoration: none;
  border-radius: 3px;
}
