.button {
  background-color: blue;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: #FFF;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
}
