.input {
  font-family: inherit;
  border: none;
  border-radius: 2px;
  color: darken($color-dark, 20%);
  transition: box-shadow .2s;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
}
