{% if current_user %}

<form action="{{ space.permalink }}/ideas" method="post" class="form" id="js-form">
  <label class="form__label" for="email">
    Please enter your email address
  </label>
  <div class="form__letterbox" id="js-letterbox">
    <input
      class="input"
      id="email"
      type="email"
      placeholder="hello@simpleweb.co.uk"
      name="idea[title]"
      required
      autofocus>
  </div>
  <textarea name="idea[content]" style="display: none;">...</textarea>
</form>

{% else %}

<h3>{{ space.signup_message }}</h3>
<ul class="inline-list">
  <li class="inline-list__item">
    <a href="/auth/twitter">
      <img src="{{ 'twitter.svg' | asset_url }}" width="32" height="32" alt="Twitter">
    </a>
  </li>
  <li class="inline-list__item">
    <a href="/auth/facebook">
      <img src="{{ 'facebook.svg' | asset_url }}" width="32" height="32" alt="Facebook">
    </a>
  </li>
</ul>

{% endif %}
