<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing</title>
    <meta name="description" content="Landing theme">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/style.css">
  </head>
  <body>

    <img src="http://placehold.it/350x150&amp;text=logo" width="350" height="150" alt="Logo">

    <h2>Our website is coming soon</h2>
    <h3>Subscribe to updates</h3>

    <ul>
      <li>
        <a href="">
          <img src="http://placehold.it/32x32" width="32" height="32" alt="Twitter">
        </a>
      </li>
      <li>
        <a href="">
          <img src="http://placehold.it/32x32" width="32" height="32" alt="Facebook">
        </a>
      </li>
    </ul>

    <script src="../assets/main.js"></script>
  </body>
</html>
