<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing</title>
    <meta name="description" content="Landing theme">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/style.css">
  </head>
  <body>

    <div class="wrapper">
      <img src="../assets/logo.svg" width="150" height="150" alt="Logo">

      <h2>Our website is coming soon</h2>
      <h3>praesent ornare elit leo, non bibendum metus</h3>

      <form class="form">
        <label class="form__label" for="email">
          Please enter your email address
        </label>
        <input class="input" id="email" type="email" placeholder="hello@simpleweb.co.uk" required>
      </form>

      <h4>Keep up to date with Twitter <em>or</em> Facebook</h4>
      <ul class="inline-list">
        <li class="inline-list__item">
          <a href="">
            <img src="../assets/twitter.svg" width="32" height="32" alt="Twitter">
          </a>
        </li>
        <li class="inline-list__item">
          <a href="">
            <img src="../assets/facebook.svg" width="32" height="32" alt="Facebook">
          </a>
        </li>
      </ul>
    </div>

    <script src="../assets/main.js"></script>
  </body>
</html>
